@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.stage-cube-cont {
  max-width: 50%;
  padding-top: 8%;
  overflow: hidden;
}

.cubespinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0;
  margin-left: calc(50% - 100px);
}

.cubespinner div {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 1px solid rgba(230, 223, 223, 0);
  background: rgba(230, 223, 223, 0.1);
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(222, 222, 206, 0.1);
}

.cubespinner .face1 {
  transform: translateZ(100px);
}

.cubespinner .face2 {
  transform: rotateY(90deg) translateZ(100px);
}

.cubespinner .face3 {
  transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
}

.cubespinner .face4 {
  transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
}

.cubespinner .face5 {
  transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
}

.cubespinner .face6 {
  transform: rotateX(-90deg) translateZ(100px);
}

@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }

  16% {
    transform: rotateY(-90deg);
  }

  33% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }

  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }

  66% {
    transform: rotateY(-270deg) rotateZ(90deg);
  }

  83% {
    transform: rotateX(90deg);
  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
}

.content-div:hover {
  background-image: linear-gradient(
    to right,
    rgba(112, 157, 255, 0.8),
    hsla(242, 74%, 61%, 0.8)
  ) !important;
}
